.layout {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  overflow: hidden;
}
.layout > main > section {
  padding-top: 1.5rem;
  min-height: auto;
}

.layout > main {
  min-height: calc(100vh - 10.7rem);
}

@media only screen and (max-width: 640px) {
  .layout > main {
    max-height: none;
  }
}
