:root {
  --two-xl-padding: 12rem;
  --xl-padding: 10rem;
  --lg-padding: 6.5rem;
  --md-padding: 5rem;
  --sm-padding: 2.5rem;
  --xs-padding: 2rem;

  --header-height: 5.7rem;
}

/* Container header */
header {
  background-color: var(--primary-color);
  box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 1px;

  @apply fixed left-0 top-0 z-50 grid h-[var(--header-height)] w-full;
  /* Paddings from smaller to large screens */
  @apply px-[var(--xs-padding)] sm:px-[var(--sm-padding)] md:px-[var(--md-padding)];
  @apply lg:px-[var(--lg-padding)] xl:px-[var(--xl-padding)] 2xl:px-[--two-xl-padding];
}

/* Container main */
main {
  @apply mt-[--header-height];
}

main > section {
  min-height: calc(100vh - var(--header-height));
  /* Margins from smaller to large screens */
  @apply px-[var(--xs-padding)] sm:px-[var(--sm-padding)] md:px-[var(--md-padding)];
  @apply lg:px-[var(--lg-padding)] xl:px-[var(--xl-padding)] 2xl:px-[--two-xl-padding];
}

/* Container footer */
footer {
  background-color: var(--primary-color);
  box-shadow: rgba(255, 255, 255, 0.12) 0px -1px 1px;
  @apply grid h-[5rem] items-center;
  /* Paddings from smaller to large screens */
  @apply px-[var(--xs-padding)] sm:px-[var(--sm-padding)] md:px-[var(--md-padding)];
  @apply lg:px-[var(--lg-padding)] xl:px-[var(--xl-padding)] 2xl:px-[--two-xl-padding];
}
/* Global styles sections */
main > section > .title-section {
  @apply font-bold leading-none tracking-tight;
  @apply text-[3rem] xs:text-[3.3rem] sm:text-[3.5rem] md:text-[3.75rem] lg:text-[4.1rem] xl:text-[4.3rem] 2xl:text-[4.5rem];
}

/* Hero section */
/** Layout **/
.layout-homepage > main > .hero {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: min-content min-content 20px min-content;
  grid-template-areas:
    "title memoji"
    "subtitle memoji"
    "empty memoji"
    "skills skills";
  align-content: center;
  gap: 3.3rem;
}
.layout-homepage > main > .hero > .skills {
  grid-area: skills;
}
.layout-homepage > main > .hero > h1 {
  grid-area: title;
}
.layout-homepage > main > .hero > h2 {
  grid-area: subtitle;
}
.layout-homepage > main > .hero > .memoji {
  grid-area: memoji;
}
/** Styles **/

main > .hero > .title {
  @apply min-w-min font-black leading-none tracking-tight antialiased sm:max-w-[18rem];
  /* Font size */
  @apply text-[4.2rem] xs:text-[5.2rem] md:text-[6rem] lg:text-[6.4rem] xl:text-[7.4rem] 2xl:text-[8rem];
}
main > .hero > .subtitle {
  @apply font-medium  md:max-w-[48rem];
  @apply text-[1.4rem] xs:text-[1.7rem] sm:text-[2rem] md:text-[2rem] xl:text-[2.3rem] 2xl:text-[2.5rem];
}
main > .hero > .memoji {
  @apply w-[16rem] xs:w-[15rem] sm:w-[15rem] md:w-[17rem] lg:w-[14rem] xl:w-[18rem] 2xl:w-[20rem];
}
main > .hero > .skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 3rem;
  @apply xl:grid-cols-10;
}
main > .hero > .skills > div {
  @apply flex  justify-center;

  /* Sizes */
  @apply h-12 w-12 sm:h-[3.4rem] sm:w-[3.4rem] md:h-[3.6rem] md:w-[3.6rem] lg:h-[3.8rem] lg:w-[3.8rem] xl:h-[4rem] xl:w-[4rem] 2xl:h-[4.7rem] 2xl:w-[4.7rem];
}

/* About section */
main > .about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "title title"
    "profile-img-container description";
  gap: 2rem;
  column-gap: 2rem;
  padding-top: 1.5rem;
}
main > .about-me > h1 {
  grid-area: title;
}
main > .about-me > .profile-img-container {
  grid-area: profile-img-container;
}
main > .about-me > p {
  grid-area: description;
  margin-top: 8rem;
}

/* Projects section */
main > .projects {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 2rem;
  padding-top: 1.5rem;
}

main > .projects > .projects-container {
  align-self: self-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
/* Contact form section */
main > .contact {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: calc(100vh - 12rem);
  gap: 2rem;
}
main > .contact .contact-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: self-start;
  gap: 3rem;
}
@media only screen and (max-width: 1024px) {
  .layout-homepage > main > .hero {
    gap: 4rem;
    grid-template-columns: none;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
      "title"
      "memoji"
      "subtitle"
      "skills";
  }
  main > section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  main > .about-me {
    gap: 3rem;
    grid-template-columns: none;
    grid-template-areas:
      "title"
      "profile-img-container"
      "description";
  }

  main > .projects > .projects-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(4, min-content);
  }
}
@media only screen and (max-width: 640px) {
  main > .about-me > .profile-img {
    margin-top: 0;
  }
  main > .about-me > p {
    margin-top: 0;
  }

  main > .projects {
    display: grid;
    grid-template-rows: min-content 1fr;
  }
  main > .projects > .projects-container {
    grid-template-columns: none;
  }
  main > .contact .contact-me-container {
    grid-template-columns: none;
  }
  main > section {
    padding-bottom: 3rem;
  }
}
@media only screen and (max-width: 480px) {
  .layout-homepage > main > .hero {
    gap: 1.5rem;
  }
  main > section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .layout-homepage > main > .hero > .skills {
    row-gap: 1rem;
  }
}

.hyperlink-icon {
  color: var(--complementary-color);
}
