:root {
  --lang-color: #18181b;
  --lang-background: #fff;
  --text-shadow: #fff;
  --selection-shade: #bddafd;
  --accent-1: #07a;
  --accent-2: #690;
  --accent-3: #905;
  --accent-4: #df9306;
  --hue-1: hsla(0, 0%, 100%, 0.5);
  --hue-2: #999;
  --hue-3: crimson;
}
